{% extends "default.html" %}

{% block content %}
    <h1>Поиск новостей</h1>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Искать</button>
    </form>

    <h2>Результаты поиска:</h2>
    {% for news in filter.qs %}
        <div>
            <h3>{{ news.title }}</h3>
            <p>Дата публикации: {{ news.pub_date|date:"d.m.Y" }}</p>
            <p>{{ news.text|slice:":100" }}...</p>
            <a href="{% url 'news_detail' news.id %}">Подробнее</a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}